* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: $s-xs;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 4px $dark;
}

::-webkit-scrollbar-thumb {
  background: $info;
  border-radius: $s-xs;
  box-shadow: 2px 2px 4px $dark;
}

html,
body {
  width: 100vw;
  min-height: 100vh;
}

body > div:nth-child(1) {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
