.modal {
  @include modal-template;

  &-content {
    @include modal-content-template;

    max-width: 90%;

    @include tablet-screen {
      min-width: 400px;
    }

    @include desktop-screen {
      min-width: 400px;
    }
  }
}
