.picture {
  &-data {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: $s-md;
    color: white;

    @include desktop-screen {
      width: 50%;
      align-self: center;
    }
  }

  &__title {
    color: $info;
  }

  &__label {
    font-weight: bold;
  }
}
