.slider {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  gap: $s-md;

  &-figure {
    grid-column: 1 / 3;
    display: flex;
    justify-content: center;
  }

  &__image {
    width: 100%;
    animation-name: move-in-from-top;
    animation-duration: 2s;
  }

  &__previous,
  &__next {
    width: $s-xlg;
  }

  &__previous {
    margin-inline-start: auto;
  }

  &__next {
    margin-inline-end: auto;
  }

  @include desktop-screen {
    & {
      grid-template-columns: auto 1fr auto;
      grid-template-rows: auto;
      width: 70%;
      align-self: center;
    }

    &__previous,
    &__next {
      height: $s-xlg;
      align-self: center;
    }

    &__previous {
      grid-column: 1 / 2;
      grid-row: 1 / 2;
    }

    &-figure {
      grid-column: 2 / 3;
    }
  }
}
