.video-modal {
  @include modal-template;

  &-content {
    @include modal-content-template;

    width: 85%;
    max-height: 90%;
  }

  &__iframe {
    aspect-ratio: 16 / 9;
  }

  &__close {
    justify-content: center;
  }
}
